<div class="section bg-img">
  <div class="container">
    <div class="facts_section">
      <h1 class="heading"></h1>
      <div class="facts_details">
        <div class="facts_details_left">
          <div class="ff_content">
            <h1>3000000+</h1>
            <p>Sq. Ft. Completed</p>
          </div>
          <div class="ff_content">
            <h1>45000+</h1>
            <p>Total Man Hours</p>
          </div>
          <div class="ff_content">
            <h1>1000+</h1>
            <p>Projects Executed</p>
          </div>

          <div class="ff_content">
            <h1>100+</h1>
            <p>Exclusive Delivery Partners</p>
          </div>
        </div>
        <div class="facts_details_right">
          <div class="main-image-div">
            <div class="move-right">
              <img
                src="./assets/img/facts/1.png"
                alt=""
                class="p-ab b-r s-img"
              />
            </div>
            <div class="move-down">
              <img
                src="./assets/img/facts/2.png"
                alt=""
                class="p-ab b-r m-img"
              />
            </div>
            <div class="move-down-right">
              <img
                src="./assets/img/facts/3.png"
                alt=""
                class="p-ab b-r l-img"
              />
            </div>
            <div class="move-left">
              <img
                src="./assets/img/facts/4.png"
                alt=""
                class="p-ab b-r xl-img"
              />
            </div>
            <div class="move-down-left">
              <img
                src="./assets/img/facts/5.png"
                alt=""
                class="p-ab b-r l-img"
              />
            </div>
            <div class="move-down-right1">
              <img src="./assets/img/facts/6.png" alt="" class="p-ab m-img" />
            </div>
            <div class="zooom-up-left">
              <img
                src="./assets/img/facts/painter.png"
                alt=""
                class="p-ab b-r human"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
